<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">


	<ui:define name="content">

		<h:form id="add">
		<h:messages />
			<h:panelGrid columns="2">
				<h:outputLabel value="Nom" for="nom" />
				<h:inputText value="#{enseignantBean.ens.name}" id="nom" required="true" />
				
				<h:outputLabel value="Mail" for="mail" />
				<h:inputText value="#{enseignantBean.ens.mail}" id="mail" validatorMessage="format mail false" >
				<f:validateRegex pattern=".+\@.+\..+"></f:validateRegex>
				</h:inputText>
				
				<h:outputLabel value="Type Enseignant" for="typ" />
				<h:selectOneMenu value="#{enseignantBean.ens.type}" id="typ">
				<f:selectItem itemValue=" " itemLabel="Choisir type ens" />
				<f:selectItems value="#{enseignantBean.types}"></f:selectItems>
				</h:selectOneMenu>
												
				<h:outputLabel value="date de naissance" for="datedenaissance" />
				<h:inputText value="#{enseignantBean.ens.dateNaissance}" id="datedenaissance" >
				<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:inputText>
				
				<h:commandButton action="#{enseignantBean.addEns()}" value="ajouter enseignant" />
				<h:message for="mail"/>

			</h:panelGrid>
		</h:form>


	</ui:define>

</ui:composition>