<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">


	<ui:define name="content">
		<center>
			<h:form id="allens">
				<h:dataTable value="#{enseignantBean.lens}" var="enseignant"
					style="align:center" border="1">

					<h:column>
						<f:facet name="header">
							<h:outputLabel value="Nom" />
						</f:facet>
						<h:outputText value="#{enseignant.name}" />
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:outputLabel value="Mail" />
						</f:facet>
						<h:outputText value="#{enseignant.mail}" />
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:outputLabel value="Date Naissance" />
						</f:facet>
						<h:outputText value="#{enseignant.dateNaissance}" />
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:outputLabel value="Update" />
						</f:facet>
						<h:commandLink action="#{enseignantBean.preUpdate(enseignant)}"
							value="Update" />
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:outputLabel value="Delete" />
						</f:facet>
						<h:commandLink action="#{enseignantBean.remove(enseignant.idEns)}"
							value="Delete" />
					</h:column>


				</h:dataTable>
			</h:form>
		</center>

		<h:form id="up">
			<h:messages />
			<h:panelGrid columns="2" id="pupdate" rendered="#{enseignantBean.etat}">
				<h:outputLabel value="Nom" for="nom" />
				<h:inputText value="#{enseignantBean.ens.name}" id="nom"
					required="true" requiredMessage="Champ obligatoire"/>

				<h:outputLabel value="Mail" for="mail" />
				<h:inputText value="#{enseignantBean.ens.mail}" id="mail"
					validatorMessage="format mail false">
					<f:validateRegex pattern=".+\@.+\..+"></f:validateRegex>
				</h:inputText>

				<h:outputLabel value="date de naissance" for="datedenaissance" />
				<h:inputText value="#{enseignantBean.ens.dateNaissance}"
					id="datedenaissance">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:inputText>

				<h:commandButton action="#{enseignantBean.update()}"
					value="Modifier enseignant" />
				<h:message for="mail" />

			</h:panelGrid>
		</h:form>

	</ui:define>

</ui:composition>