<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

		<ui:define name="content">
	<h:form>
				<h:outputLabel value="Bienvenu #{loginBean.ens.name}" />
				<br></br><br></br>
				<h:link outcome="/enseignant/addEnseignant" value="Add Enseignant"/>
				<br></br><br></br>
				<h:link outcome="/enseignant/afficherEnseignant" value="All Enseignant"/>
				<br></br><br></br>
				<h:commandButton action="#{loginBean.logOut()}" value="Log Out" />
	</h:form>

	
		</ui:define>


</ui:composition>