<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
		<h:link outcome="/user/ajouterprojet" value="ajouterprojet" />
		<h:link outcome="/user/affichage" value="ajouterprojet" />

	</ui:define>
</ui:composition>
</html>